<header class="bg-gradient-to-r from-orange-300 to-rose-300 pt-12 md:pt-20 pb-40 px-2">
  <section class="container mx-auto flex flex-col items-center space-y-4">
    <div>
      <a href="/">
      <%= image_tag(
          "fridgejam.png",
          alt: "FridgeJam",
          title: "FridgeJam",
          class: "w-96",
          srcset: { "fridgejam.png" => '2x' } ) %>
        </a>
    </div>
    <div class="w-full max-w-lg">
      <%= form_tag(searches_path, method: :get, id: "searchForm")  do %>
        <label for="query" class="mb-2 text-sm text-white font-medium sr-only">Recipe search</label>

        <div class="relative flex flex-col items-start justify-start space-y-2">
          <%= text_area_tag :query, params[:query], class: 'mb-2 w-full shadow focus:ring-orange-500 focus:border-orange-500 block w-full pl-4 sm:text-sm border-gray-300 rounded-md py-4', :rows => 5, required: true, style: "resize: none;", placeholder: "Write the ingredients comma seperated e.g. orange, porc

" %>
          <div class="inline-flex space-x-2 justify-start w-full items-center">
             <%= check_box_tag :flexible, true, true, class: 'focus:ring-sky-500 h-4 w-4 text-sky-500 border-orange-300 rounded' %>
             <%= label_tag :flexible, "Recipes with more or less ingredients are fine", class: "text-white text-sm font-semibold", style: 'text-shadow: 0 0 1px #ffffff;' %>
          </div>
          <div class="pt-2 w-full flex space-x-4">
            <div class="w-full">
            <%= label_tag :people, 'Min people', class: "inline-block mb-1.5 text-white text-sm font-semibold" %>
            <%= select_tag :people, raw("<option value='0'>I dont' care</option><option value='2'>2 people</option><option value='4'>4 people</option><option value='6'>6 people</option>"), class: 'block w-full py-3 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md' %>
            </div>
            <div class="w-full">
            <%= label_tag :total_time, 'Max recipe time', class: "inline-block mb-1.5 text-white text-sm font-semibold" %>
            <%= select_tag :total_time, raw("<option value='20000'>I don't care</option><option value='30'>30mins</option><option value='60'>60 mins</option><option value='120'>2 hours</option><option value='180'>3 hours</option>"), class: 'block w-full py-3 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md' %>
            </div>
          </div>
        </div>
        <%= button_tag  name: nil, class: "relative inline-flex items-center justify-center mt-4 py-3 w-full rounded px-3 text-lg font-sans font-bold text-white bg-gradient-to-br from-orange-500 to-orange-600 hover:bg-orange-600 hover:cursor-pointer transition ease-in-out duration-300", data: { disable_with: "fetching recipes..." } do  %>
            <div class="absolute right-0 top-0 mr-3 mt-3.5">
              <svg id="spinner" class="hidden animate-spin-fast h-5 w-5 mr-3 text-white fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><<path d="M460.115 373.846l-6.941-4.008c-5.546-3.202-7.564-10.177-4.661-15.886 32.971-64.838 31.167-142.731-5.415-205.954-36.504-63.356-103.118-103.876-175.8-107.701C260.952 39.963 256 34.676 256 28.321v-8.012c0-6.904 5.808-12.337 12.703-11.982 83.552 4.306 160.157 50.861 202.106 123.67 42.069 72.703 44.083 162.322 6.034 236.838-3.14 6.149-10.75 8.462-16.728 5.011z"/>
              </svg>
            </div>
            <!-- <svg class="-ml-1 mr-3 w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg> -->


            <svg class="-ml-1 mr-2.5 w-5 h-5 fill-current texst-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 416 512"><!-- Font Awesome Pro 5.15.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --><path d="M207.9 15.2c.8 4.7 16.1 94.5 16.1 128.8 0 52.3-27.8 89.6-68.9 104.6L168 486.7c.7 13.7-10.2 25.3-24 25.3H80c-13.7 0-24.7-11.5-24-25.3l12.9-238.1C27.7 233.6 0 196.2 0 144 0 109.6 15.3 19.9 16.1 15.2 19.3-5.1 61.4-5.4 64 16.3v141.2c1.3 3.4 15.1 3.2 16 0 1.4-25.3 7.9-139.2 8-141.8 3.3-20.8 44.7-20.8 47.9 0 .2 2.7 6.6 116.5 8 141.8.9 3.2 14.8 3.4 16 0V16.3c2.6-21.6 44.8-21.4 48-1.1zm119.2 285.7l-15 185.1c-1.2 14 9.9 26 23.9 26h56c13.3 0 24-10.7 24-24V24c0-13.2-10.7-24-24-24-82.5 0-221.4 178.5-64.9 300.9z"/></svg>
            search
        <% end %>
      <% end%>
    </div>
  </section>
</header>
