<header class="bg-gradient-to-r from-orange-300 to-rose-300 pt-12 md:pt-20 pb-40 px-2">
  <section class="container mx-auto flex flex-col items-center space-y-4">
    <div>
      <a href="/">
      <%= image_tag(
          "fridgejam.png",
          alt: "FridgeJam",
          title: "FridgeJam",
          class: "w-96",
          srcset: { "fridgejam.png" => '2x' } ) %>
        </a>
    </div>
    <div class="w-full max-w-lg">
      <%= form_tag(searches_path, method: :get, id: "searchForm")  do %>
        <label for="search" class="sr-only">Recipe search</label>
        <p class="mb-2 text-sm text-white font-medium">
          Write the ingredients comma seperated e.g. orange, porc
        </p>
        <div class="relative flex flex-col items-start justify-start space-y-2">
          <%= text_area_tag :query, params[:query], class: 'w-full shadow focus:ring-orange-500 focus:border-orange-500 block w-full pl-4 sm:text-sm border-gray-300 rounded-md py-4', :rows => 5, required: true, style: "resize: none;" %>
          <div class="w-full flex space-x-4">
            <div class="w-full">
            <%= label_tag :people, 'Min people', class: "text-white text-sm font-semibold" %>
            <%= select_tag :people, raw("<option value='0'>I dont' care</option><option value='2'>2 people</option><option value='4'>4 people</option><option value='6'>6 people</option>"), class: 'block w-full py-3 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md' %>
            </div>
            <div class="w-full">
            <%= label_tag :total_time, 'Max recipe time', class: "text-white text-sm font-semibold" %>
            <%= select_tag :total_time, raw("<option value='20000'>I don't care</option><option value='30'>30mins</option><option value='60'>60 mins</option><option value='120'>2 hours</option><option value='180'>3 hours</option>"), class: 'block w-full py-3 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md' %>
            </div>
          </div>
        </div>
        <%= button_tag  name: nil, class: "relative inline-flex justify-center mt-4 py-3 w-full items-center border border-transparent rounded px-3 text-base font-sans font-semibold text-white bg-orange-500 hover:bg-orange-400 hover:cursor-pointer transition ease-in-out duration-300", data: { disable_with: "fetching recipes..." } do  %>
            <div class="absolute right-0 top-0 mr-3 mt-3.5">
              <svg id="spinner" class="hidden animate-spin-fast h-5 w-5 mr-3 text-white fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><<path d="M460.115 373.846l-6.941-4.008c-5.546-3.202-7.564-10.177-4.661-15.886 32.971-64.838 31.167-142.731-5.415-205.954-36.504-63.356-103.118-103.876-175.8-107.701C260.952 39.963 256 34.676 256 28.321v-8.012c0-6.904 5.808-12.337 12.703-11.982 83.552 4.306 160.157 50.861 202.106 123.67 42.069 72.703 44.083 162.322 6.034 236.838-3.14 6.149-10.75 8.462-16.728 5.011z"/>
              </svg>
            </div>
            search
        <% end %>
      <% end%>
    </div>
  </section>
</header>
