<div  class="w-full max-w-2xl mx-auto -mt-48  flex flex-col">
  <p class="notice text-white mb-4 text-lg"><%= notice %></p>
  <%= render partial: 'partials/breadcrumb' if params[:query].present?%>
  <div class="bg-white py-6 px-6 rounded-lg shadow-lg">
    <% if @recipes.nil?%>
      <%= render partial: 'recipes/partials/top10' %>
    <% elsif @recipes.size.zero? %>
      <%= render partial: 'recipes/partials/no_recipes_found' %>
    <% elsif @recipes.size.positive? %>
      <div  class="flex justify-between items-center">
        <h2 class="text-2xl font-bold text-gray-900">
          <%= pluralize(@recipes_count, 'recipe', 'recipes').to_s + ' ' + 'found'%>
        </h2>
      </div>
      <div class="flow-root mt-10">
        <ul role="list" class="-my-5 divide-y divide-gray-200">
          <% @recipes.each do |recipe|%>
            <%= render partial: 'recipes/partials/recipe', locals: {recipe: recipe} %>
          <% end %>
        </ul>
        <div class="mt-10 pt-6 flex border-t border-gray-100 items-center justify-center p-2">
          <%= pagy_nav(@pagy).html_safe if @pagy.pages > 1 %>
        </div>
      </div>
    <% end %>
  </div>
</div>

