<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="author" content="FridgeJam" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <% if content_for?(:meta) %>
      <%= yield(:meta) %>
    <% else %>
      <title> Welcome | FridgeJam.gr &middot; Fridge powered recipes!</title>
      <meta name="description" content="Fridge powered recipes!">
      <meta name="keywords" content="recipes, tasty dishes, fridge powered recipes">
    <% end %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbo-track': 'reload', media: 'all' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="antialiased">
    <%= render partial: 'partials/header' %>
    <main class="flex flex-col pt-20 pb-6 px-2">
      <%= yield %>
    </main>
    <%= render partial: 'partials/footer' %>
    <% if content_for(:js) %>
      <%= yield(:js) %>
    <% end %>
  </body>
</html>
